<h1>Ajout d'un nouveau personnage</h1>
<form>
    <input type="text" value="" placeholder="Nom" id="nom" name="nom">
    <input type="text" value="" placeholder="Prénom" id="prenom" name="prenom">
    <input type="text" value="" placeholder="CC" id="cc" name="cc">
    <input type="text" value="" placeholder="CT" id="ct" name="ct">
    <input type="text" value="" placeholder="F" id="f" name="f">
    <input type="text" value="" placeholder="E" id="e" name="e">
    <input type="text" value="" placeholder="Ag" id="ag" name="ag">
    <input type="text" value="" placeholder="Int" id="int" name="int">
    <input type="text" value="" placeholder="FM" id="fm" name="fm">
    <input type="text" value="" placeholder="Soc" id="soc" name="soc">
    <input type="text" value="" placeholder="A" id="a" name="a">
    <input type="text" value="" placeholder="B" id="b" name="b">
    <input type="text" value="" placeholder="BF" id="bf" name="bf">
    <input type="text" value="" placeholder="BE" id="be" name="be">
    <input type="text" value="" placeholder="M" id="m" name="m">
    <input type="text" value="" placeholder="Mag" id="mag" name="mag">
    <input type="text" value="" placeholder="PF" id="pf" name="pf">
    <input type="text" value="" placeholder="PD" id="pd" name="pd">

    <input type="submit">
</form>