<h1>Personnages</h1>
<div>
        <a href="/perso/new">Nouveau personnage</a><br />
    {% for perso in persos %}
        <p onclick="location.href='/perso/{{ perso.id }}'">
                <label>{{ perso.nom }}</label>
                <label>{{ perso.prenom }}</label>
        </p>
    {% endfor %}
</div>