<html>

<head>
    <link rel="stylesheet" href="{{ asset('assets/css/navbar.css') }}" />
</head>
<body>

<h1>The Genus  {{ name }}</h1>
<div id="menu">
    {% include('navbar.html.twig') %}
</div>
<div id="display_div">
    {% if type == "character" %}
        {% include('perso.html.twig') %}
    {% elseif type == "showCharacter" %}
        {% include('persodetail.html.twig') %}
    {% elseif type == "newCharacter" %}
        {% include('newperso.html.twig') %}
    {% elseif type == "editCharacter" %}
        {% include('persoedit.html.twig') %}
    {% endif %}
</div>
</body>

</html>